<div style="padding: 15px;">
    <h2 mat-dialog-title>Capture the transaction</h2>
    <mat-dialog-content>
        <form [formGroup]="actuarianForm">
            <div style="display: flex; flex-direction: column;">
                <mat-form-field style="flex: 1">
                    <mat-label>Main Limit</mat-label>
                    <input matInput title="Introduce Main Limit" type="number" formControlName="mainLimit">
                    <mat-error *ngIf="actuarianForm.get('mainLimit')?.hasError('required')">Value is required</mat-error>
                    <mat-error *ngIf="actuarianForm.get('mainLimit')?.hasError('min')">Value must be bigger than 0</mat-error>
                </mat-form-field>
                <mat-form-field style="flex: 1">
                    <mat-label>Main Retention</mat-label>
                    <input matInput title="Introduce Main Retention" type="number" formControlName="mainRetention">
                    <mat-icon matSuffix>percent</mat-icon>
                    <mat-error *ngIf="actuarianForm.get('mainRetention')?.hasError('required')">Value is required</mat-error>
                    <mat-error *ngIf="actuarianForm.get('mainRetention')?.hasError('min')">Value must be between 0 and 100</mat-error>
                    <mat-error *ngIf="actuarianForm.get('mainRetention')?.hasError('max')">Value must be between 0 and 100</mat-error>
                </mat-form-field>
                <mat-form-field style="flex: 1">
                    <mat-label>Main Retention</mat-label>
                    <mat-select title="Type of execution" formControlName="executionType">
                        <mat-option *ngFor="let executionElement of executionTypes" [value]="executionElement">{{ executionElement }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="saveActuarian()" [disabled]="!actuarianForm.valid">Save changes</button>
        <button mat-raised-button color="warn" (click)="cancelActuarian()" [mat-dialog-close]="null">Cancel</button>
    </mat-dialog-actions>
</div>